

@font-face {
	font-family: 'Segoe UI-x';
	src: url('../fonts/SegoeUI-Regular.woff') format('woff'),
		url('../fonts/SegoeUI-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI-x';
	src: url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
		url('../fonts/SegoeUI-SemiBold.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI-x';
	src: url('../fonts/SegoeUI-Bold.woff') format('woff'),
		url('../fonts/SegoeUI-Bold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}