/* @media (max-width : 1199px)
{
    .search-box {
        width: 100%;
        max-width: 100%;
    }

	.basket-page {
    	width: calc(100% - 340px - 20px);
    	margin-right: 20px;
	}
} */

@media (max-width : 1024px) {
    .search-box {
        width: 100%;
        max-width: 594px;
    }
	.basket-page__sidebar {
		margin-top: 24px;
	}

	.item-price-mobile {
		display: none;
	}
}

@media (min-width: 1024px) {
	.main__container {
	}
	.basket-page .basket-section {
    	padding: 24px;
    	border-radius: 20px;
	}
	.basket_header {
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 20px;
	}
	.basket-page {
		width: calc(100% - 304px - 33px);
	}
	.basket-page__sidebar {
		max-width: 304px;
		min-width: 304px;
		position: relative;
		flex-shrink: 0;
		margin-top: 0;
		margin-left: 33px;
	}
	.item-price-mobile {
		display: none;
	}
	.property-3 {
		display: none;
	}

}

@media (min-width: 1300px) {
	.basket-page .basket-section {
    	padding: 24px;
    	border-radius: 20px;
	}
	.basket_header {
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 20px;
	}
	.basket-page {
		width: calc(100% - 429px - 33px);
	}
	.basket-page__sidebar {
		max-width: 429px;
		min-width: 304px;
		position: relative;
		flex-shrink: 0;
		margin-top: 0;		
		margin-left: 33px;
	}

	.item-price-mobile {
		display: none;
	}
	.property-3 {
		display: none;
	}
}


@media (min-width: 1400px) {
	.loop {		   
		position: absolute;
		right: 2.4%;
		top: 50%;
		transform: translate(0, -50%);
	}
	
	.input-w {
		min-width: 338px;
		text-align: start;
	}
	
	.input-b {
		min-width: 218px;  
		text-align: start;
	}

	.item-price-mobile {
		display: none;
	}
	.property-3 {
		display: none;
	}
}





@media (max-width : 1023px) {

	html, body{
		/* overflow-x: hidden; */
		}

	header {
		background-color: #6725A8;
		min-height: 80px;
		height: 88px;     
		height: inherit;
		padding: 16px 16px 15px 12px;
		position: relative;
		flex: 0 0 auto;
		color: #fff;
	}


	.header_bottom {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.header__nav-element {
		width: 100%;
	}

    .burger {
		border: none;		
		margin-right: 22px;		
		width: 26px;
		height: 26px;
		padding: 0 0;
	}
	.btn__hamb {
		height: 2.8px;		
		width: 96%;
	}

	.btn__hamb:after {
		width: 75%;
		top: 9px;
		height: 3.8px;
	}

	.btn__hamb:before {
		top: -9px; 
	}
	
	.logo-link {
    	min-width: 218px;
    	height: 26px;
    	color: #fff;
    	font-weight: 600;
    	font-size: 21px;
    	line-height: 22px;
    	letter-spacing: 1.8px;
    	text-align: start;
		flex-grow: 1;
	}

	.catalog {
		flex-grow: 0;
		margin: 0 0;
		position: relative;
	} 
	.search-box {		
		background-color: transparent;	
		height: 25px;
		width: 25px;		
		padding: 0 0 0 0;
	}

	.loop {
		background-image: url('../img/Search2.png');
		background-color: transparent;
		background-size: 24px;
		width: 24px;
		height: 24px;
		opacity: 1;
		background-repeat: no-repeat;
		transition: background .3s ease 0s;    
		position: relative;
		top: 15px;
		left: 7px;
		transform: translate(0, -50%);
	}

	.search-input {
		display: none;
	}
	.nav_bar {
		display: none;
	}

	.main__container {
		padding: 0 0;
		display: block;
	}

	.basket-page {    
		font-size: 16px;
		line-height: 22px;
		flex-grow: 0;
		width: 100%;
	}

	.basket-page__section {
		padding: 0 0;
	}
	
	.basket_header > h1 {
		font-size: 24px;
		font-weight: 600;
		line-height: 24px;
		padding-bottom: 0;
		padding-left: 18px;
		position: relative;
		letter-spacing: -0.8px;
		top: -5px;
	}

	.basket_list__accordeon {
		margin-top: 20px;		
		padding: 0 18px;
	}

	.checkbox__body2 {
		color: #000;
		line-height: 28px;
		font-size: 18.5px !important;
		font-weight: 400;
		position: relative;
		top: -2px;
		left: 16px;
	}

	.accordeon-content {
		padding-top: 18px;
	}

	.tall-checkbox {
		position: absolute;
		z-index: 2;
		top: 3px;
		left: 16px;
	}
	.item-good {
		padding: 0 0;
		position: relative;
		top: 0;
		left: -10px;
	}

	.item-good__img {
		max-width: 90px;
		width: 90px;
		max-height: 122px;
		height: 122px;
		position: relative;
	} 

	.item-good__img-img {
		max-width: 90px;
		width: 90px;
		max-height: 122px;
		height: 122px;
		position: relative;
	} 
	.item-good__info {
		position: relative;
    	min-width: 190px;
		max-width: calc(100% - 110px);
    	flex-grow: 0;
    	padding-left: 30px;
	}

	.good-from__store {
		display: none;
	}
	.tooltip_none {
		display: none;
	}

	.item-price-mobile {
		display: inline-block;
		padding-top: 1px;
	}
	.item-price-mobile__inbasket {
		font-size: 18px;
		line-height: 28px;
		font-weight: 700;
	}
	
	.item-price-mobile__valute {
		font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		margin-left: 2px;
	}
	
	.price-before-mobile__count {
		font-size: 14px;
		line-height: 18px;
		color: #9797AF;
		text-align: right;
		text-decoration: line-through;
		border-bottom: dashed;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		padding-top: 5.4px;
		margin-left: 5px;    
	}

	.good-title {
		padding-bottom: 10px
	}
	.properties {		
		padding-bottom: 12px;
		font-size: 15px;
	}

	.property-2 {
		display: none;
	}

	.property-3 {
		position: absolute;
		top: 90px;
		left: -75px;
		background-color: #fff;
		min-height: 28px;
		min-width: 26px;
		text-align: center;
		align-items: center;
		vertical-align: middle;
		padding-top: 5px;
		border-radius: 6px;
		padding: auto;
	}
	
	.good-from {
		font-size: 15px;
	}

	.basket-item__rigth-cont {
		min-width: 100%;
	}

	.item-count {
		display: flex;		
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 10px;
		width: 100%;
	}
	.item-count__counter {
		width: 90px;
		height: 44px;
	}
	.counter-minus, .counter-plus {
		width: 22px;
		position: relative;
		top: -3px;
		align-items: center;
	}
	.counter-plus {
		top: -5px;
		left: -2.5px;
	}
	.counter-left {
		font-size: 15px;
		margin-top: 12px;
		position: absolute;
		left: 110px;
	}

	.item-price {
		display: none;
	}

	.favourite {
		padding-right: 20px;
	}
	.basket_none__accordeon {	
		padding: 0 18px;
	}
	.none-img {
		margin-left: 12px;
	}
	
	.basket-item__rigth-cont2 {
		justify-content: flex-end;
		width: 100%;
	}

	.item-count-none {
		justify-content: flex-end;
		width: 100%;
	}

	.reg {
		padding: 22px 18px;
	}
	.rd-mh {
		font-size: 20px;
		line-height: 28px;
	}
	.reg-delivery__info-table {
		display: block;
	}
	.reg-delivery__info-title, .reg-delivery__info-desc {
		width: 100%;		
		margin: 0 0;
	}
	.desc1 {
		margin-top: 10px;
	}

	.reg_delivery__notice2 {
		display: flex;
		/* justify-content: space-between; */
		align-items: center;
	}

	.delivery-frame-text2 {
		position: relative;
		top: 0;
		left: 5px;
		max-width: 75%;
	}
	.delivery-icon2 {
		width: 22px;
		position: relative;
		top: 0;
	}
	.reg2 {
		padding: 22px 18px 40px 18px;
	}
	.reg_form, .reg_form2 {    
		margin-top: 0;
		display: block;
	}

	.reg_form3 {
		margin-right: 0;
	}
	
	.reg_form > div > input {
		margin-top: 45px;
	}

	.input-w, .input-b {
		width: 95%;
		max-width: 95%;
		min-width: 95%;
	}
	.over-label {
		top: 24px;
	}
	.inn-container > label {
		top: 68px;
		left: 0px;
	}

	.basket-page__sidebar {  
		flex-grow: 0;
		flex-shrink: 1;
		max-width: 100%;
		min-width: 100%;
		width: 100%;
		margin-left: 0;
	}

	.sidebar {
		background-color: transparent;
    	border-radius: 8px;
    	padding: 14px 18px 22px 18px;
    	box-shadow:  none;
	}

	.sidebar-o__delivery {
		margin-top: 0;
	}

	.sidebar-o__delivery-adress {
		display: none;
	}

	.sidebar-o__delivery-frame {
		background-color: #F0ECF4;
		width: 100%;
	}

	.sidebar-o__payment {
		margin-top: 0;
	}
	.sidebar-o__payment-bycard {
		display: none;
	}

	.sidebar-o__payment-when {		
		background-color: #F0ECF4;
	}
	
}